Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
numpy==1.18.1
pandas==1.0.1
Pillow==9.3.0
pytz==2019.3
pywin32==227
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0rc3
tensorflow-estimator==2.2.0
termcolor==1.1.0
torch==1.4.0
torchvision==0.5.0
virtualenv==20.0.7
